["parity"]
idx="0"
name="parity"
device="sdh"
id="ST12000VN0008-2YS101_WR801HH2"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="26479996"
numWrites="26480589"
numErrors="0"
type="Parity"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_WR801HH2"
sizeSb="11718885324"
["disk1"]
idx="1"
name="disk1"
device="sdk"
id="ST12000VN0008-2YS101_ZRT0Q2AK"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="1611274"
numWrites="909"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_ZRT0Q2AK"
sizeSb="11718885324"
deviceSb="mapper/md1p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk1"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="2927699660"
fsUsed="8789082368"
["disk2"]
idx="2"
name="disk2"
device="sdj"
id="ST12000VN0008-2JH101_ZL002PQY"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="724813"
numWrites="538"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2JH101_ZL002PQY"
sizeSb="11718885324"
deviceSb="mapper/md2p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk2"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="2634184716"
fsUsed="9082597312"
["disk3"]
idx="3"
name="disk3"
device="sdl"
id="ST12000VN0008-2JH101_ZL002FFT"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="620925"
numWrites="542"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2JH101_ZL002FFT"
sizeSb="11718885324"
deviceSb="mapper/md3p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk3"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="2927453360"
fsUsed="8789328668"
["disk4"]
idx="4"
name="disk4"
device="sdn"
id="ST12000VN0008-2JH101_ZL002FNP"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="377681"
numWrites="543"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2JH101_ZL002FNP"
sizeSb="11718885324"
deviceSb="mapper/md4p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk4"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="2928841872"
fsUsed="8787940156"
["disk5"]
idx="5"
name="disk5"
device="sdg"
id="ST12000VN0008-2PH103_ZLW20PZE"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="744973"
numWrites="545"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2PH103_ZLW20PZE"
sizeSb="11718885324"
deviceSb="mapper/md5p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk5"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="2928258328"
fsUsed="8788523700"
["disk6"]
idx="6"
name="disk6"
device="sdi"
id="ST12000VN0008-2PH103_ZL2J0HVY"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="2778310"
numWrites="2891"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2PH103_ZL2J0HVY"
sizeSb="11718885324"
deviceSb="mapper/md6p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk6"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="2928577796"
fsUsed="8788204232"
["disk7"]
idx="7"
name="disk7"
device="sdc"
id="ST12000VN0008-2YS101_ZRT0NF65"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="39200338"
numWrites="26471898"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_ZRT0NF65"
sizeSb="11718885324"
deviceSb="mapper/md7p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk7"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="3839277360"
fsUsed="7877504668"
["disk8"]
idx="8"
name="disk8"
device="sdd"
id="ST12000VN0008-2YS101_ZRT0NJ92"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="208146"
numWrites="543"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_ZRT0NJ92"
sizeSb="11718885324"
deviceSb="mapper/md8p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk8"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="5846435408"
fsUsed="5870346620"
["disk9"]
idx="9"
name="disk9"
device="sde"
id="ST12000VN0008-2YS101_ZRT0NWP2"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="256289"
numWrites="543"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_ZRT0NWP2"
sizeSb="11718885324"
deviceSb="mapper/md9p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk9"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="5857071532"
fsUsed="5859710496"
["disk10"]
idx="10"
name="disk10"
device="sdf"
id="ST12000VN0008-2YS101_ZRT0FAP7"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="691361"
numWrites="542"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_ZRT0FAP7"
sizeSb="11718885324"
deviceSb="mapper/md10p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk10"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="5795630548"
fsUsed="5921151480"
["disk11"]
idx="11"
name="disk11"
device="sdm"
id="ST12000VN0008-2YS101_ZRT0NRCZ"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="111975"
numWrites="543"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_ZRT0NRCZ"
sizeSb="11718885324"
deviceSb="mapper/md11p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk11"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="5810510780"
fsUsed="5906271248"
["disk12"]
idx="12"
name="disk12"
device="sda"
id="ST12000VN0008-2YS101_WR8012K9"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="625285"
numWrites="553"
numErrors="0"
type="Data"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_WR8012K9"
sizeSb="11718885324"
deviceSb="mapper/md12p1"
luksState="1"
fsType="luks:xfs"
fsStatus="Mounted"
fsMountpoint="/mnt/disk12"
autotrim="off"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile=""
fsWidth="1"
fsGroups="1"
state="7"
slots="1"
devices="1"
devicesSb="1"
fsColor="green-on"
fsEmpty="no"
fsSize="11716782028"
fsFree="5848960952"
fsUsed="5867821076"
["parity2"]
idx="29"
name="parity2"
device="sdb"
id="ST12000VN0008-2YS101_WR8012SQ"
size="11718885324"
sectors="23437770752"
sector_size="512"
transport="ata"
rotational="1"
discard="0"
removable="0"
spundown="1"
status="DISK_OK"
format="GPT: 4KiB-aligned"
temp="*"
numReads="26479996"
numWrites="26480590"
numErrors="0"
type="Parity"
color="green-blink"
spindownDelay="-1"
spinupGroup=""
idSb="ST12000VN0008-2YS101_WR8012SQ"
sizeSb="11718885324"
["cache"]
idx="30"
name="cache"
device="nvme0n1"
id="Seagate_ZP2000GM30063_D3300D81"
size="1953513560"
sectors="3907029168"
sector_size="512"
transport="nvme"
rotational="0"
discard="1"
removable="0"
spundown="0"
status="DISK_OK"
format="MBR: 1MiB-aligned"
temp="42"
numReads="2503868"
numWrites="5316559"
numErrors="0"
type="Cache"
color="green-on"
spindownDelay="-1"
spinupGroup=""
idSb="Seagate_ZP2000GM30063_D3300D81"
sizeSb="1953513560"
deviceSb="mapper/nvme0n1p1"
luksState="1"
fsType="luks:zfs"
fsStatus="Mounted"
fsMountpoint="/mnt/cache"
autotrim="on"
compression="off"
warning=""
critical=""
exportable="no"
comment=""
fsProfile="raidz1"
fsWidth="4"
fsGroups="1"
state="STARTED"
slots="4"
devices="4"
devicesSb="4"
fsColor="green-on"
fsEmpty="no"
fsSize="5533990935"
fsFree="5206893230"
fsUsed="327097705"
uuid="14611058922604323932"
shareEnabled="yes"
shareFloor=""
nameOrig="cache"
bootSize="0"
bootPool="no"
["cache2"]
idx="31"
name="cache2"
device="nvme1n1"
id="Seagate_ZP2000GM30063_D3300D8H"
size="1953513560"
sectors="3907029168"
sector_size="512"
transport="nvme"
rotational="0"
discard="1"
removable="0"
spundown="0"
status="DISK_OK"
format="MBR: 1MiB-aligned"
temp="45"
numReads="2483913"
numWrites="5238326"
numErrors="0"
type="Cache"
color="green-on"
spindownDelay="-1"
spinupGroup=""
idSb="Seagate_ZP2000GM30063_D3300D8H"
sizeSb="1953513560"
deviceSb="mapper/nvme1n1p1"
luksState="1"
["cache3"]
idx="32"
name="cache3"
device="nvme2n1"
id="Seagate_ZP2000GM30063_D3300D3T"
size="1953513560"
sectors="3907029168"
sector_size="512"
transport="nvme"
rotational="0"
discard="1"
removable="0"
spundown="0"
status="DISK_OK"
format="MBR: 1MiB-aligned"
temp="47"
numReads="2481368"
numWrites="5318170"
numErrors="0"
type="Cache"
color="green-on"
spindownDelay="-1"
spinupGroup=""
idSb="Seagate_ZP2000GM30063_D3300D3T"
sizeSb="1953513560"
deviceSb="mapper/nvme2n1p1"
luksState="1"
["cache4"]
idx="33"
name="cache4"
device="nvme3n1"
id="Seagate_ZP2000GM30063_D3300D45"
size="1953513560"
sectors="3907029168"
sector_size="512"
transport="nvme"
rotational="0"
discard="1"
removable="0"
spundown="0"
status="DISK_OK"
format="MBR: 1MiB-aligned"
temp="49"
numReads="2464385"
numWrites="5236634"
numErrors="0"
type="Cache"
color="green-on"
spindownDelay="-1"
spinupGroup=""
idSb="Seagate_ZP2000GM30063_D3300D45"
sizeSb="1953513560"
deviceSb="mapper/nvme3n1p1"
luksState="1"
["flash"]
idx="34"
name="flash"
device="sdo"
id="Samsung_Flash_Drive_FIT_0372725020005916-0:0"
size="62655488"
sectors="125313283"
sector_size="512"
transport="usb"
rotational="1"
discard="0"
removable="1"
spundown="0"
status="DISK_OK"
format="MBR: custom"
temp="*"
numReads="2838"
numWrites="457"
numErrors="0"
type="Flash"
color="green-on"
fsType="vfat"
fsStatus="Mounted"
fsMountpoint="/boot"
autotrim="on"
compression="off"
warning=""
critical=""
exportable="yes"
comment="Unraid OS boot device"
fsProfile=""
fsWidth="1"
fsGroups="1"
state="STARTED"
slots="1"
devices="1"
devicesSb="1"
fsColor="yellow-on"
fsEmpty="no"
fsSize="62640128"
fsFree="59723104"
fsUsed="2917024"
